form {
  display: grid;
}

form label {
  margin: 1em 0 0.5em 0;
  font-weight: bold;
}

form input, form textarea {
  border-radius: 0.5em;
  margin: 0.5em 0;
  border: none;
  padding: 0.5em;
  background-color: rgb(255, 255, 255, 0.6);
}

form button {
  margin: 1em;
}