form {
  display: grid;
}

form label {
  margin: 1em 0 0.5em 0;
  font-weight: bold;
}

form input, form textarea {
  border-radius: 0.5em;
  margin: 0.5em 0;
  border: none;
  padding: 0.5em;
  background-color: rgb(255, 255, 255, 0.6);
}

form button {
  padding: 0.5em 1em;
  margin: 1em;
}

form .buttons {
  place-self: end;
}

#submit:hover {
  box-shadow: 0px 0px 5px 5px rgba(167, 18, 222, 0.333);
}

#cancel:hover {
  /* background-color: rgba(222, 18, 100, 0.2); */
  box-shadow: 0px 0px 5px 5px rgba(255, 0, 102, 0.333);
}