nav {
  display: grid;
  grid-gap: 1em;
  grid-auto-flow: column;
  grid-template-columns: repeat(auto-fill, minmax(min-content, 0.2fr));
}

nav button {
  border-radius: 2em;
  padding: 1em 1em;
  /* margin: 0 1em; */
  background-color: rgba(255,255,255,1);
  border: none;
  opacity: 0.5;
}

nav button:hover {
  opacity: 1;
}