#root {
  padding: 0;
  margin: 0;
  height: 100vh;
  display: grid;
  justify-content: center;
  background: rgb(183,238,255);
  background: linear-gradient(333deg, rgba(183,238,255,1) 0%, rgb(239, 225, 255) 33%, rgba(255,220,244,1) 66%, rgba(247,237,223,1) 100%);
}

.container {
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-areas: "header"
  "main"
  "footer";
  grid-template-rows: minmax(min-content, 80px) 1fr minmax(min-content, 50px);
  height: 100%;
}

header {
  grid-area: "header";
  display: grid;
  place-content: center;
}

main {
  grid-area: "main";
  justify-self: center;
  width: 80%;
}

footer {
  padding: 1em;
  align-self: end;
  grid-area: "footer";
}

.imgContainer {
  border-radius: 100%;
  background-color: rgba(255,255,255,0.5);
  min-width: 50px;
  aspect-ratio: 1;
  overflow: hidden;
  width: 30px;
  display: inline-flex;
}

img {
  height: 100%;
}

.profile {
  width: 250px;
}

.about {
  display: grid;
  grid-template-columns: 3fr 7fr;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
